<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ACK_KimHyunWoo.Properties.Settings.ackConnectionString"
            connectionString="server=localhost;user id=root;password = 1234;persistsecurityinfo=True;database=ack"
            providerName="MySql.Data.MySqlClient" />
        <add name="ACK_KimHyunWoo.Properties.Settings.ackConnectionString1"
            connectionString="server=localhost;user id=root;database=ack"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>